In [1]:
import numpy as np
import pandas as pd

In [2]:
# 0
intake = pd.read_csv("preprocessed_AnimalCenter-AustinTX_Intakes.csv")
outcome = pd.read_csv("preprocessed_AnimalCenter-AustinTX_Outcomes.csv")

In [3]:
intake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132238 entries, 0 to 132237
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   animal_id       132238 non-null  object
 1   name            132235 non-null  object
 2   found_location  132238 non-null  object
 3   in_type         132238 non-null  object
 4   in_condition    132238 non-null  object
 5   animal_type     132238 non-null  object
 6   in_sex          132238 non-null  object
 7   in_age          132238 non-null  object
 8   breed           132238 non-null  object
 9   color           132238 non-null  object
 10  in_date         132238 non-null  object
 11  in_time1        132238 non-null  object
 12  in_time2        132238 non-null  object
 13  in_age2         132238 non-null  float64
dtypes: float64(1), object(13)
memory usage: 14.1+ MB

In [4]:
outcome.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132336 entries, 0 to 132335
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   animal_id      132336 non-null  object
 1   name           132333 non-null  object
 2   date_of_birth  132336 non-null  object
 3   out_type       132336 non-null  object
 4   out_subtype    132336 non-null  object
 5   animal_type    132336 non-null  object
 6   out_sex        132336 non-null  object
 7   out_age        132336 non-null  object
 8   breed          132336 non-null  object
 9   color          132336 non-null  object
 10  out_date       132336 non-null  object
 11  out_time1      132336 non-null  object
 12  out_time2      132336 non-null  object
 13  out_age2       132336 non-null  float64
dtypes: float64(1), object(13)
memory usage: 14.1+ MB

In [5]:
#intake #extract columns: animal_id, name, animal_type, breed, color

In [6]:
#outcome #extract columns: animal_id, name, animal_type, breed, color

In [7]:
#intake["animal_id"].isin(outcome["animal_id"]).describe()

In [8]:
# 1
data1 = intake[["animal_id", "name", "animal_type", "breed", "color"]].copy()
data2 = outcome[["animal_id", "name", "animal_type", "breed", "color"]].copy()

In [9]:
# 2
data1.drop_duplicates(inplace=True)
data2.drop_duplicates(inplace=True)

In [10]:
# 3
data = data1.append(data2, ignore_index=True, sort=False)

In [11]:
# 4
data.drop_duplicates(inplace=True)

In [12]:
data

,animal_id,name,animal_type,breed,color
0,A477934,Suzie Q,Dog,Pit Bull Mix,Red/White
1,A636021,Sera,Dog,Pit Bull Mix,Brown
2,A664299,Doc,Dog,Anatol Shepherd/Great Pyrenees,White/Tricolor
3,A658012,Lucio,Dog,Chihuahua Shorthair Mix,Red
4,A664284,Unknown,Cat,Domestic Shorthair Mix,Black/White
...,...,...,...,...,...
139547,A622036,Unknown,Cat,Domestic Shorthair Mix,Brown Tabby
141021,A658598,Lindy,Cat,Domestic Shorthair Mix,Blue Tabby
142566,A663083,Zack,Dog,Chinese Sharpei/Border Collie,Black/White
147556,A620557,Button,Cat,Domestic Shorthair Mix,Black
194921,A651995,Sugar,Dog,Staffordshire Mix,Brown/White

In [13]:
# 5
data.to_csv("created_AnimalCenter-AustinTX_Animal.csv", index=False)