In [22]:
import numpy as np
import pandas as pd

In [23]:
# mm/dd/yyyy
date = pd.Series(pd.date_range("10/01/2013", "07/17/2021"))

In [24]:
#date_id = pd.to_datetime(date, format="%Y-%m-%d").dt.strftime("%d%m%Y")

In [25]:
year = date.dt.year
month = date.dt.month
week = date.dt.isocalendar().week
day = date.dt.day

In [26]:
day_ddd = date.dt.day_name()
day_ddd = day_ddd.str.replace("Monday", "Mon", regex=False)
day_ddd = day_ddd.str.replace("Tuesday", "Tue", regex=False)
day_ddd = day_ddd.str.replace("Wednesday", "Wed", regex=False)
day_ddd = day_ddd.str.replace("Thursday", "Thu", regex=False)
day_ddd = day_ddd.str.replace("Friday", "Fri", regex=False)
day_ddd = day_ddd.str.replace("Saturday", "Sat", regex=False)
day_ddd = day_ddd.str.replace("Sunday", "Sun", regex=False)

In [27]:
day_of_week = day_ddd.copy()
day_of_week = day_of_week.str.replace("Mon", '2', regex=False)
day_of_week = day_of_week.str.replace("Tue", '3', regex=False)
day_of_week = day_of_week.str.replace("Wed", '4', regex=False)
day_of_week = day_of_week.str.replace("Thu", '5', regex=False)
day_of_week = day_of_week.str.replace("Fri", '6', regex=False)
day_of_week = day_of_week.str.replace("Sat", '7', regex=False)
day_of_week = day_of_week.str.replace("Sun", '8', regex=False)

In [28]:
month_mmm = date.dt.month_name()
month_mmm = month_mmm.str.replace("January", "Jan", regex=False)
month_mmm = month_mmm.str.replace("February", "Feb", regex=False)
month_mmm = month_mmm.str.replace("March", "Mar", regex=False)
month_mmm = month_mmm.str.replace("April", "Apr", regex=False)

month_mmm = month_mmm.str.replace("June", "Jun", regex=False)
month_mmm = month_mmm.str.replace("July", "Jul", regex=False)
month_mmm = month_mmm.str.replace("August", "Aug", regex=False)
month_mmm = month_mmm.str.replace("September", "Sep", regex=False)
month_mmm = month_mmm.str.replace("October", "Oct", regex=False)
month_mmm = month_mmm.str.replace("November", "Nov", regex=False)
month_mmm = month_mmm.str.replace("December", "Dec", regex=False)

In [29]:
dict = {
    #"date_id":date_id,
    "date":date,
    "day_of_month":day,
    "day_of_week":day_of_week,
    "ddd_of_week":day_ddd,
    "week_of_year":week,
    "month":month,
    "mmm":month_mmm,
    "year":year
}

In [30]:
data = pd.DataFrame(data=dict)

In [31]:
data.to_csv("created_AnimalCenter-Calendar.csv", index=False)

In [32]:
data

,date,day_of_month,day_of_week,ddd_of_week,week_of_year,month,mmm,year
0,2013-10-01,1,3,Tue,40,10,Oct,2013
1,2013-10-02,2,4,Wed,40,10,Oct,2013
2,2013-10-03,3,5,Thu,40,10,Oct,2013
3,2013-10-04,4,6,Fri,40,10,Oct,2013
4,2013-10-05,5,7,Sat,40,10,Oct,2013
...,...,...,...,...,...,...,...,...
2842,2021-07-13,13,3,Tue,28,7,Jul,2021
2843,2021-07-14,14,4,Wed,28,7,Jul,2021
2844,2021-07-15,15,5,Thu,28,7,Jul,2021
2845,2021-07-16,16,6,Fri,28,7,Jul,2021
2846,2021-07-17,17,7,Sat,28,7,Jul,2021