In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
# 0
fromm = "10/01/2013"
to = datetime.now().date()

In [3]:
# 1
# mm/dd/yyyy
# 10/01/2013 to now
date = pd.Series(pd.date_range(fromm, to))

In [4]:
date

0      2013-10-01
1      2013-10-02
2      2013-10-03
3      2013-10-04
4      2013-10-05
          ...
2929   2021-10-08
2930   2021-10-09
2931   2021-10-10
2932   2021-10-11
2933   2021-10-12
Length: 2934, dtype: datetime64[ns]

In [5]:
# 2
year = date.dt.year
month = date.dt.month
week = date.dt.isocalendar().week
day = date.dt.day

In [6]:
# 3
day_ddd = date.dt.day_name()
day_ddd = day_ddd.str.replace("Monday", "Mon", regex=False)
day_ddd = day_ddd.str.replace("Tuesday", "Tue", regex=False)
day_ddd = day_ddd.str.replace("Wednesday", "Wed", regex=False)
day_ddd = day_ddd.str.replace("Thursday", "Thu", regex=False)
day_ddd = day_ddd.str.replace("Friday", "Fri", regex=False)
day_ddd = day_ddd.str.replace("Saturday", "Sat", regex=False)
day_ddd = day_ddd.str.replace("Sunday", "Sun", regex=False)

In [7]:
# 4
day_of_week = day_ddd.copy()
day_of_week = day_of_week.str.replace("Mon", '2', regex=False)
day_of_week = day_of_week.str.replace("Tue", '3', regex=False)
day_of_week = day_of_week.str.replace("Wed", '4', regex=False)
day_of_week = day_of_week.str.replace("Thu", '5', regex=False)
day_of_week = day_of_week.str.replace("Fri", '6', regex=False)
day_of_week = day_of_week.str.replace("Sat", '7', regex=False)
day_of_week = day_of_week.str.replace("Sun", '0', regex=False)

In [8]:
# 5
month_mmm = date.dt.month_name()
month_mmm = month_mmm.str.replace("January", "Jan", regex=False)
month_mmm = month_mmm.str.replace("February", "Feb", regex=False)
month_mmm = month_mmm.str.replace("March", "Mar", regex=False)
month_mmm = month_mmm.str.replace("April", "Apr", regex=False)

month_mmm = month_mmm.str.replace("June", "Jun", regex=False)
month_mmm = month_mmm.str.replace("July", "Jul", regex=False)
month_mmm = month_mmm.str.replace("August", "Aug", regex=False)
month_mmm = month_mmm.str.replace("September", "Sep", regex=False)
month_mmm = month_mmm.str.replace("October", "Oct", regex=False)
month_mmm = month_mmm.str.replace("November", "Nov", regex=False)
month_mmm = month_mmm.str.replace("December", "Dec", regex=False)

In [9]:
# 6
dict = {
    #"date_id":date_id,
    "date":date,
    "day_of_month":day,
    "day_of_week":day_of_week,
    "ddd_of_week":day_ddd,
    "week_of_year":week,
    "month":month,
    "mmm":month_mmm,
    "year":year
}

In [10]:
# 7
data = pd.DataFrame(data=dict)

In [11]:
# 8
data.to_csv("created_AnimalCenter-AustinTX_Calendar.csv", index=False)

In [12]:
data

,date,day_of_month,day_of_week,ddd_of_week,week_of_year,month,mmm,year
0,2013-10-01,1,3,Tue,40,10,Oct,2013
1,2013-10-02,2,4,Wed,40,10,Oct,2013
2,2013-10-03,3,5,Thu,40,10,Oct,2013
3,2013-10-04,4,6,Fri,40,10,Oct,2013
4,2013-10-05,5,7,Sat,40,10,Oct,2013
...,...,...,...,...,...,...,...,...
2929,2021-10-08,8,6,Fri,40,10,Oct,2021
2930,2021-10-09,9,7,Sat,40,10,Oct,2021
2931,2021-10-10,10,0,Sun,40,10,Oct,2021
2932,2021-10-11,11,2,Mon,41,10,Oct,2021
2933,2021-10-12,12,3,Tue,41,10,Oct,2021