In [24]:
import numpy as np
import pandas as pd

In [25]:
intake = pd.read_csv("preprocessed_AnimalCenter-Intakes.csv")
outcome = pd.read_csv("preprocessed_AnimalCenter-Outcomes.csv")

In [26]:
intake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128748 entries, 0 to 128747
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   animal_id       128748 non-null  object
 1   name            128748 non-null  object
 2   found_location  128748 non-null  object
 3   in_type         128748 non-null  object
 4   in_condition    128748 non-null  object
 5   animal_type     128748 non-null  object
 6   in_sex          128748 non-null  object
 7   in_age          128748 non-null  object
 8   breed           128748 non-null  object
 9   color           128748 non-null  object
 10  in_date         128748 non-null  object
 11  in_time1        128748 non-null  object
 12  in_time2        128748 non-null  object
 13  in_age2         128748 non-null  float64
dtypes: float64(1), object(13)
memory usage: 13.8+ MB

In [27]:
outcome.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128724 entries, 0 to 128723
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   animal_id      128724 non-null  object
 1   name           128724 non-null  object
 2   date_of_birth  128724 non-null  object
 3   out_type       128724 non-null  object
 4   out_subtype    128724 non-null  object
 5   animal_type    128724 non-null  object
 6   out_sex        128724 non-null  object
 7   out_age        128724 non-null  object
 8   breed          128724 non-null  object
 9   color          128724 non-null  object
 10  out_date       128724 non-null  object
 11  out_time1      128724 non-null  object
 12  out_time2      128724 non-null  object
 13  out_age2       128724 non-null  float64
dtypes: float64(1), object(13)
memory usage: 13.7+ MB

In [28]:
#intake #extract columns: animal_id, name, animal_type, breed, color

In [29]:
#outcome #extract columns: animal_id, name, animal_type, breed, color

In [30]:
#intake["animal_id"].isin(outcome["animal_id"]).describe()

In [31]:
data1 = intake[["animal_id", "name", "animal_type", "breed", "color"]].copy()
data2 = outcome[["animal_id", "name", "animal_type", "breed", "color"]].copy()

In [32]:
data1.drop_duplicates(inplace=True)
data2.drop_duplicates(inplace=True)

In [33]:
data = data1.append(data2, ignore_index=True, sort=False)

In [34]:
data.drop_duplicates(inplace=True)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115938 entries, 0 to 191820
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   animal_id    115938 non-null  object
 1   name         115938 non-null  object
 2   animal_type  115938 non-null  object
 3   breed        115938 non-null  object
 4   color        115938 non-null  object
dtypes: object(5)
memory usage: 5.3+ MB

In [36]:
data.to_csv("created_AnimalCenter_Animal.csv", index=False)