In [1]:
import numpy as np
import pandas as pd

In [2]:
# 0
case_confirmed = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
case_deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv")
vacc_vaccinated = pd.read_csv("https://raw.githubusercontent.com/govex/COVID-19/master/data_tables/vaccine_data/us_data/time_series/people_vaccinated_us_timeline.csv")

In [3]:
# 1
data1 = case_confirmed[case_confirmed["FIPS"]==48015].copy()
data2 = case_deaths[case_deaths["FIPS"]==48015].copy()
data3 = vacc_vaccinated[(vacc_vaccinated["Province_State"]=="Texas")].copy()

In [4]:
# 2
data1.drop(["UID","iso2","iso3","code3","FIPS","Province_State","Country_Region","Lat","Long_","Admin2"], axis=1, inplace=True)
data2.drop(["UID","iso2","iso3","code3","FIPS","Province_State","Country_Region","Lat","Long_","Admin2","Population"], axis=1, inplace=True)

In [5]:
# 3
data1.set_index("Combined_Key", inplace=True)
data2.set_index("Combined_Key", inplace=True)

data1 = data1.transpose()
data2 = data2.transpose()

data1.reset_index(inplace=True)
data2.reset_index(inplace=True)

In [6]:
# 4
data1.rename(columns={"index":"date", "Austin, Texas, US":"confirmed"}, inplace=True)
data2.rename(columns={"index":"date", "Austin, Texas, US":"deaths"}, inplace=True)

In [7]:
data1["date"]

0       1/22/20
1       1/23/20
2       1/24/20
3       1/25/20
4       1/26/20
         ...
625     10/8/21
626     10/9/21
627    10/10/21
628    10/11/21
629    10/12/21
Name: date, Length: 630, dtype: object

In [26]:
# 5
data1["date"] = pd.to_datetime(data1["date"], format="%m/%d/%y")
data2["date"] = pd.to_datetime(data2["date"], format="%m/%d/%y")

In [27]:
# 6
data4 = data1.merge(data2, on="date")

In [28]:
# 7
data3.drop(["FIPS","Province_State","Country_Region","Lat","Long_","Combined_Key"] ,axis=1 , inplace=True)

In [29]:
# 8
data3["Date"] = pd.to_datetime(data3["Date"], format="%Y/%m/%d")

In [30]:
# 9
data3["People_Fully_Vaccinated"].fillna(0, inplace=True)
data3["People_Partially_Vaccinated"].fillna(0, inplace=True)

In [31]:
# 10
data3.rename(columns={"Date":"date", "People_Fully_Vaccinated":"fully_vaccinated", "People_Partially_Vaccinated":"partially_vaccinated"}, inplace=True)

In [32]:
# 11
data = data4.merge(data3, how="left", on="date")

          date  confirmed  deaths  fully_vaccinated  partially_vaccinated
0   2020-01-22          0       0               NaN                   NaN
1   2020-01-23          0       0               NaN                   NaN
2   2020-01-24          0       0               NaN                   NaN
3   2020-01-25          0       0               NaN                   NaN
4   2020-01-26          0       0               NaN                   NaN
..         ...        ...     ...               ...                   ...
625 2021-10-08       3352      50        15042917.0             2392224.0
626 2021-10-09       3352      50        15066224.0             2388509.0
627 2021-10-10       3352      50        15088526.0             2388509.0
628 2021-10-11       3352      50        15097347.0             2388509.0
629 2021-10-12       3352      50        15110705.0             2376236.0

[630 rows x 5 columns]

In [34]:
# 12
data["fully_vaccinated"].fillna(0, inplace=True)
data["partially_vaccinated"].fillna(0, inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 630 entries, 0 to 629
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  630 non-null    datetime64[ns]
 1   confirmed             630 non-null    int64
 2   deaths                630 non-null    int64
 3   fully_vaccinated      630 non-null    float64
 4   partially_vaccinated  630 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 29.5 KB

          date  confirmed  deaths  fully_vaccinated  partially_vaccinated
186 2020-07-26        182       4               0.0                   0.0
187 2020-07-27        193       4               0.0                   0.0
188 2020-07-28        202       5               0.0                   0.0
189 2020-07-29        209       5               0.0                   0.0
190 2020-07-30        211       3               0.0                   0.0
..         ...        ...     ...               ...                   ...
625 2021-10-08       3352      50        15042917.0             2392224.0
626 2021-10-09       3352      50        15066224.0             2388509.0
627 2021-10-10       3352      50        15088526.0             2388509.0
628 2021-10-11       3352      50        15097347.0             2388509.0
629 2021-10-12       3352      50        15110705.0             2376236.0

[444 rows x 5 columns]

In [20]:
# intakes = pd.read_csv("preprocessed_AnimalCenter-AustinTX_Intakes.csv")
# outcomes = pd.read_csv("preprocessed_AnimalCenter-AustinTX_Outcomes.csv")

In [21]:
# inn = intakes[["animal_id", "in_date", "in_age2"]].copy()

In [22]:
# inn.groupby("in_date").count()

In [23]:
# 13
data.to_csv("preprocessed_Covid19-Texas.csv", index=True)